:root {
    --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
    --m3syslightsurface-container-high: rgba(236, 230, 240, 1);
    --m3state-layerslighton-surface-variantopacity-012: rgba(73, 69, 79, 0.12);
    --m3state-layerslighton-surface-variantopacity-008: rgba(73, 69, 79, 0.08);
    --satoshi-h1-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-h1-font-weight: 700;
    --satoshi-h1-font-size: 61px;
    --satoshi-h1-letter-spacing: 0px;
    --satoshi-h1-line-height: 120.00000476837158%;
    --satoshi-h1-font-style: normal;
    --satoshi-h2-font-family: "Satoshi-Medium", Helvetica;
    --satoshi-h2-font-weight: 500;
    --satoshi-h2-font-size: 49px;
    --satoshi-h2-letter-spacing: 0px;
    --satoshi-h2-line-height: 120.00000476837158%;
    --satoshi-h2-font-style: normal;
    --satoshi-h3-font-family: "Satoshi-Medium", Helvetica;
    --satoshi-h3-font-weight: 500;
    --satoshi-h3-font-size: 39px;
    --satoshi-h3-letter-spacing: 0px;
    --satoshi-h3-line-height: 120.00000476837158%;
    --satoshi-h3-font-style: normal;
    --satoshi-h4-font-family: "Satoshi-Medium", Helvetica;
    --satoshi-h4-font-weight: 500;
    --satoshi-h4-font-size: 31px;
    --satoshi-h4-letter-spacing: 0px;
    --satoshi-h4-line-height: 120.00000476837158%;
    --satoshi-h4-font-style: normal;
    --satoshi-h5-font-family: "Satoshi-Medium", Helvetica;
    --satoshi-h5-font-weight: 500;
    --satoshi-h5-font-size: 25px;
    --satoshi-h5-letter-spacing: 0px;
    --satoshi-h5-line-height: 120.00000476837158%;
    --satoshi-h5-font-style: normal;
    --satoshi-h6-font-family: "Satoshi-Medium", Helvetica;
    --satoshi-h6-font-weight: 500;
    --satoshi-h6-font-size: 20px;
    --satoshi-h6-letter-spacing: 0px;
    --satoshi-h6-line-height: 120.00000476837158%;
    --satoshi-h6-font-style: normal;
    --satoshi-regular-font-family: "Satoshi-Medium", Helvetica;
    --satoshi-regular-font-weight: 500;
    --satoshi-regular-font-size: 16px;
    --satoshi-regular-letter-spacing: 0px;
    --satoshi-regular-line-height: 120.00000476837158%;
    --satoshi-regular-font-style: normal;
    --satoshi-p-font-family: "Satoshi-Medium", Helvetica;
    --satoshi-p-font-weight: 500;
    --satoshi-p-font-size: 13px;
    --satoshi-p-letter-spacing: 0px;
    --satoshi-p-line-height: 120.00000476837158%;
    --satoshi-p-font-style: normal;
    --satoshi-caption-font-family: "Satoshi-Light", Helvetica;
    --satoshi-caption-font-weight: 300;
    --satoshi-caption-font-size: 10px;
    --satoshi-caption-letter-spacing: 0px;
    --satoshi-caption-line-height: 120.00000476837158%;
    --satoshi-caption-font-style: normal;
    --satoshi-h1bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-h1bold-font-weight: 700;
    --satoshi-h1bold-font-size: 61px;
    --satoshi-h1bold-letter-spacing: 0px;
    --satoshi-h1bold-line-height: 120.00000476837158%;
    --satoshi-h1bold-font-style: normal;
    --satoshi-h2bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-h2bold-font-weight: 700;
    --satoshi-h2bold-font-size: 49px;
    --satoshi-h2bold-letter-spacing: 0px;
    --satoshi-h2bold-line-height: 120.00000476837158%;
    --satoshi-h2bold-font-style: normal;
    --satoshi-h3bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-h3bold-font-weight: 700;
    --satoshi-h3bold-font-size: 39px;
    --satoshi-h3bold-letter-spacing: 0px;
    --satoshi-h3bold-line-height: 120.00000476837158%;
    --satoshi-h3bold-font-style: normal;
    --satoshi-h4bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-h4bold-font-weight: 700;
    --satoshi-h4bold-font-size: 31px;
    --satoshi-h4bold-letter-spacing: 0px;
    --satoshi-h4bold-line-height: 120.00000476837158%;
    --satoshi-h4bold-font-style: normal;
    --satoshi-h5bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-h5bold-font-weight: 700;
    --satoshi-h5bold-font-size: 25px;
    --satoshi-h5bold-letter-spacing: 0px;
    --satoshi-h5bold-line-height: 120.00000476837158%;
    --satoshi-h5bold-font-style: normal;
    --satoshi-h6bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-h6bold-font-weight: 700;
    --satoshi-h6bold-font-size: 20px;
    --satoshi-h6bold-letter-spacing: 0px;
    --satoshi-h6bold-line-height: 120.00000476837158%;
    --satoshi-h6bold-font-style: normal;
    --satoshi-regular-bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-regular-bold-font-weight: 700;
    --satoshi-regular-bold-font-size: 16px;
    --satoshi-regular-bold-letter-spacing: 0px;
    --satoshi-regular-bold-line-height: 120.00000476837158%;
    --satoshi-regular-bold-font-style: normal;
    --satoshi-p-bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-p-bold-font-weight: 700;
    --satoshi-p-bold-font-size: 13px;
    --satoshi-p-bold-letter-spacing: 0px;
    --satoshi-p-bold-line-height: 120.00000476837158%;
    --satoshi-p-bold-font-style: normal;
    --satoshi-caption-bold-font-family: "Satoshi-Bold", Helvetica;
    --satoshi-caption-bold-font-weight: 700;
    --satoshi-caption-bold-font-size: 10px;
    --satoshi-caption-bold-letter-spacing: 0px;
    --satoshi-caption-bold-line-height: 120.00000476837158%;
    --satoshi-caption-bold-font-style: normal;
    --satoshi-h1-regular-font-family: "Satoshi-Regular", Helvetica;
    --satoshi-h1-regular-font-weight: 400;
    --satoshi-h1-regular-font-size: 61px;
    --satoshi-h1-regular-letter-spacing: 0px;
    --satoshi-h1-regular-line-height: 120.00000476837158%;
    --satoshi-h1-regular-font-style: normal;
    --satoshi-h2-regular-font-family: "Satoshi-Regular", Helvetica;
    --satoshi-h2-regular-font-weight: 400;
    --satoshi-h2-regular-font-size: 49px;
    --satoshi-h2-regular-letter-spacing: 0px;
    --satoshi-h2-regular-line-height: 120.00000476837158%;
    --satoshi-h2-regular-font-style: normal;
    --satoshi-h3-regular-font-family: "Satoshi-Regular", Helvetica;
    --satoshi-h3-regular-font-weight: 400;
    --satoshi-h3-regular-font-size: 39px;
    --satoshi-h3-regular-letter-spacing: 0px;
    --satoshi-h3-regular-line-height: 120.00000476837158%;
    --satoshi-h3-regular-font-style: normal;
    --satoshi-h4-regular-font-family: "Satoshi-Regular", Helvetica;
    --satoshi-h4-regular-font-weight: 400;
    --satoshi-h4-regular-font-size: 31px;
    --satoshi-h4-regular-letter-spacing: 0px;
    --satoshi-h4-regular-line-height: 120.00000476837158%;
    --satoshi-h4-regular-font-style: normal;
    --satoshi-h5-regular-font-family: "Satoshi-Regular", Helvetica;
    --satoshi-h5-regular-font-weight: 400;
    --satoshi-h5-regular-font-size: 25px;
    --satoshi-h5-regular-letter-spacing: 0px;
    --satoshi-h5-regular-line-height: 120.00000476837158%;
    --satoshi-h5-regular-font-style: normal;
    --satoshi-h6-regular-font-family: "Satoshi-Regular", Helvetica;
    --satoshi-h6-regular-font-weight: 400;
    --satoshi-h6-regular-font-size: 20px;
    --satoshi-h6-regular-letter-spacing: 0px;
    --satoshi-h6-regular-line-height: 120.00000476837158%;
    --satoshi-h6-regular-font-style: normal;
    --satoshi-regular-regular-font-family: "Satoshi-Regular", Helvetica;
    --satoshi-regular-regular-font-weight: 400;
    --satoshi-regular-regular-font-size: 16px;
    --satoshi-regular-regular-letter-spacing: 0px;
    --satoshi-regular-regular-line-height: 120.00000476837158%;
    --satoshi-regular-regular-font-style: normal;
    --satoshi-caption-regular-font-family: "Satoshi-Regular", Helvetica;
    --satoshi-caption-regular-font-weight: 400;
    --satoshi-caption-regular-font-size: 10px;
    --satoshi-caption-regular-letter-spacing: 0px;
    --satoshi-caption-regular-line-height: 120.00000476837158%;
    --satoshi-caption-regular-font-style: normal;
    --satoshi-p-regular-font-family: "Satoshi-Medium", Helvetica;
    --satoshi-p-regular-font-weight: 500;
    --satoshi-p-regular-font-size: 13px;
    --satoshi-p-regular-letter-spacing: 0px;
    --satoshi-p-regular-line-height: 120px;
    --satoshi-p-regular-font-style: normal;
    --m3-body-large-font-family: "Roboto-Regular", Helvetica;
    --m3-body-large-font-weight: 400;
    --m3-body-large-font-size: 16px;
    --m3-body-large-letter-spacing: 0.5px;
    --m3-body-large-line-height: 24px;
    --m3-body-large-font-style: normal;
    --variable-collection-y: 4px;
  }
  